form {
  min-height: 130px;
  padding-top: 15px;
  padding-left: 60px;
}

#display {
  max-width: 500px;
  min-height: 200px;
  text-align: center;
  background-color: rgba(65, 78, 151, 0.3);
  margin: auto;
}